body {
   font-family: 'Open Sans', sans-serif;
}

h1 {
   color: $primary;
   font-weight: 300;
}

h2 {
   color: $primary;
   font-weight: 300;
   font-size: 20px;
}

p {
   font-weight: 400;
}

a {
   color: $secondary;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}
